* { /*Sélecteur universel*/
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Inclut les bordures et le padding dans le calcul de la largeur/hauteur*/
}

body {
    background-color: #F0F2F5;
}

.container {
    margin: 0 220px; /* Marges externes horizontales de 220px de chaque côté*/
    display: flex; /*Utilise le flexbox pour l'alignement des éléments*/
    align-items: center; /* Centre les enfants verticalement*/
    height: 100vh; /* Hauteur de la fenêtre d'affichage*/
}

/* Section logo */
.logo-section {
    width: 56%; /* Prend 56% de la largeur du conteneur*/
    height: fit-content; /* Hauteur ajustée au contenu*/
    margin-right: 66px;
}

.logo-section > .logo {
    width: 300px;
    height: auto;
}

.logo-section > p {
    font-size: 40px;
}

/* Section login */
.login-section {
    width: 44%;
    height: fit-content;
}

.login-section > p {
    font-size: 22px;
    text-align: center;
}

.login-section > p > a {
    color: #000;
    font-weight: bold; /* Met le texte en gras */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
}

.login-section > p > a:hover {
    color: #1178F2;
}

.login-form {
    background-color: #FFFFFF;
    width: 100%;
    height: fit-content;
    border: 1px solid #FFFFFF;
    border-radius: 7px; /* Arrondi des coins */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 36px; /* Espacement interne */
}

.form-group {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.form-group .form-control {
    width: 100%;
    height: 70px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 22px;
    padding: 14px;
}