h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    color: navy;
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
    color: darkgreen;
}

body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}

.ombre {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

button {
    background-color: navy;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
    background-color: darkred;
    transform: scale(1.1);
}

.boite {
    width: 300px;
    height: 150px;
    margin: 20px auto;
    padding: 15px;
    border:  3px solid #000;
}